<!DOCTYPE html>
<html lang="en">

<head>
	<title>Code Review</title>
	{{!--
	<link rel="stylesheet" href="/assets/css/reviewExtra.css" type="text/css" /> --}}
	<!-- Materialize-->
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
	<!-- More CSS -->
	<link rel="stylesheet" href="./assets/css/style.css">
	<!-- that nice Work Sans Google font -->
	<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="animate.css">

	{{!--
	<script src="https://code.jquery.com/jquery.js"></script> --}}
	{{!--
	<script src="/assets/js/cats.js"></script> --}}
</head>

<body>



	{{{ body }}}

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
	<!-- jQuery link -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- js flip -->
	<script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
	<!-- Javascript link goes below this line -->
	<script src="./assets/js/disarray.js"></script>
	<!-- pokemon API javascript link -->
	{{!--
	<script src="./assets/js/pokeapi.js"></script> --}}
	<!-- animate js -->
	<script src="./assets/js/animate.js"></script>


</body>

</html>