<!DOCTYPE html>
<html lang="en">

<head>
	<title>Code Review</title>
	{{!--
	<link rel="stylesheet" href="/assets/css/reviewExtra.css" type="text/css" /> --}}
	<!-- Materialize-->
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
	<!-- More CSS -->
	<link rel="stylesheet" href="./assets/css/style.css">
	<!-- that nice Work Sans Google font -->
	<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">

	{{!--
	<script src="https://code.jquery.com/jquery.js"></script> --}}
	{{!--
	<script src="/assets/js/cats.js"></script> --}}
</head>

<body>

	<nav>
		<div class="nav-wrapper">
			<a href="#" class="brand-logo">Logo</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="">Login</a></li>
				<li><a href="">Sign Up</a></li>
		</div>
	</nav>


	<div id="Landing" class="container-nav">
		<div class="row">
			<div class="col s3">

				<div class="row">
					{{!-- <a href="/cards"> --}}
						<button id="module-html" class="col s12 card small">
							<h2 class="center-align">Review HTML</h2>
						</button>
						{{!-- </a> --}}
					<!-- <button id="html-understood" class="col s5 card small offset-s2">
                <h2 class="center-align">Understood HTML</h2>
              </button> -->
				</div>
				<div class="row">
					<button id="module-css" class="col s12 card small">
						<h2 class="center-align">Review CSS</h2>
					</button>
					<!-- <button id="css-understood" class="col s5 card small offset-s2">
                <h2 class="center-align">Understood CSS</h2>
              </button> -->
				</div>
				<div class="row">
					<button id="module-javascript" class="col s12 card small">
						<h2 class="center-align">Review JavaScript</h2>
					</button>
					<!-- <button id="javascript-understood" class="col s5 card small offset-s2">
                <h2 class="center-align">Understood JavaScript</h2>
              </button> -->
				</div>
				<div class="row">
					<button id="module-jquery" class="col s12 card small">
						<h2 class="center-align">Review jQuery</h2>
					</button>
					<!-- 
              <button id="jquery-understood" class="col s5 card small offset-s2">
                <h2 class="center-align">Understood jQuery</h2>
              </button> -->
				</div>
				<div class="row">
					<button id="module-api" class="col s12 card small">
						<h2 class="center-align">Review API</h2>
					</button>
					<!-- <button id="api-understood" class="col s5 card small offset-s2">
                <h2 class="center-align">Understood API</h2>
              </button> -->
				</div>
				<div class="row">
					<button id="module-git" class="col s12 card small">
						<h2 class="center-align">Review Git/GitHub</h2>
					</button>
					<!-- <button id="git-understood" class="col s5 card small offset-s2">
                <h2 class="center-align">Understood Git/GitHub</h2>
              </button> -->
				</div>
			</div>
		</div>
	</div>

	{{{ body }}}


	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
	<!-- jQuery link -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- js flip -->
	<script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
	<!-- Javascript link goes below this line -->
	<script src="./assets/js/disarray.js"></script>
	<!-- pokemon API javascript link -->
	{{!--
	<script src="./assets/js/pokeapi.js"></script> --}}
	<!-- animate js -->
	<script src="./assets/js/animate.js"></script>


</body>

</html>