<!DOCTYPE html>
<html lang="en">

<head>
	<title>Code Review</title>
	{{!--
	<link rel="stylesheet" href="/assets/css/reviewExtra.css" type="text/css" /> --}}
	<!-- Materialize-->
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
	<!-- More CSS -->
	<link rel="stylesheet" href="./assets/css/style.css">
	<!-- that nice Work Sans Google font -->
	<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


	{{!--
	<script src="https://code.jquery.com/jquery.js"></script> --}}
	{{!--
	<script src="/assets/js/cats.js"></script> --}}
</head>

<body>


	<nav>
		<div class="nav-wrapper">
			 <a href="#" class="brand-logo"><img id="logo" src="/assets/Images/LogoMakr_7MUU7l.png"></a>
			<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li><a><button data-target="login" class="btn modal-trigger">Login</a></button></li>
				<li><a><button data-target="signUp" class="btn modal-trigger">Sign Up</a></button></li>
			</ul>
		</div>
	</nav>

	<ul class="sidenav" id="mobile-demo">
		<li><a><button data-target="login" class="btn modal-trigger">Login</a></button></li>
		<li><a><button data-target="signUp" class="btn modal-trigger">Sign Up</a></button></li>
	</ul>


	<!-- Modal Structure -->
	<div id="login" class="modal">
		<div class="login container-modal">
			<h4>Login</h4>
			<div class="row">
				<form class="col s12">
					<div class="row">
						<div class="input-field col s6">
							<i class="material-icons prefix">person_pin</i>
							<input id="icon_prefix" type="text" class="validate">
							<label for="icon_prefix">Username/E-mail</label>
						</div>
						<div class="input-field col s6">
							<i class="material-icons prefix">vpn_key</i>
							<input id="icon_telephone" type="tel" class="validate">
							<label for="icon_telephone">Password</label>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn-flat">Login</a>
		</div>
	</div>

	<!-- Modal Structure -->
	<div id="signUp" class="modal">
		<div class="signUp container-modal">
			<h4>Sign Up</h4>
			<div class="row">
				<form class="col s12">
					<div class="row">
						<div class="input-field col s6">
							<input id="first_name" type="text" class="validate">
							<label for="first_name">First Name</label>
						</div>
						<div class="input-field col s6">
							<input id="last_name" type="text" class="validate">
							<label for="last_name">Last Name</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="email" type="email" class="validate">
							<label for="email">Email</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="password" type="password" class="validate">
							<label for="password">Password</label>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn-flat">SignUp</a>
		</div>
	</div>




	<div id="Landing" class="container-nav">
		<div class="row">
			<div class="col s3">

				<div class="row">
					{{!-- <a href="/cards"> --}}
						<button id="module-html" class="col s12 card small">
							<h2 class="center-align">Review HTML</h2>
						</button>
						{{!-- </a> --}}
					<!-- <button id="html-understood" class="col s5 card small offset-s2">
                <h2 class="center-align">Understood HTML</h2>
              </button> -->
				</div>
				<div class="row">
					<button id="module-css" class="col s12 card small">
						<h2 class="center-align">Review CSS</h2>
					</button>
					<!-- <button id="css-understood" class="col s5 card small offset-s2">
                <h2 class="center-align">Understood CSS</h2>
              </button> -->
				</div>
				<div class="row">
					<button id="module-javascript" class="col s12 card small">
						<h2 class="center-align">Review JavaScript</h2>
					</button>
					<!-- <button id="javascript-understood" class="col s5 card small offset-s2">
                <h2 class="center-align">Understood JavaScript</h2>
              </button> -->
				</div>
				<div class="row">
					<button id="module-jquery" class="col s12 card small">
						<h2 class="center-align">Review jQuery</h2>
					</button>
					<!-- 
              <button id="jquery-understood" class="col s5 card small offset-s2">
                <h2 class="center-align">Understood jQuery</h2>
              </button> -->
				</div>
				<div class="row">
					<button id="module-api" class="col s12 card small">
						<h2 class="center-align">Review API</h2>
					</button>
					<!-- <button id="api-understood" class="col s5 card small offset-s2">
                <h2 class="center-align">Understood API</h2>
              </button> -->
				</div>
				<div class="row">
					<button id="module-git" class="col s12 card small">
						<h2 class="center-align">Review Git/GitHub</h2>
					</button>
					<!-- <button id="git-understood" class="col s5 card small offset-s2">
                <h2 class="center-align">Understood Git/GitHub</h2>
              </button> -->
				</div>
			</div>
		</div>
	</div>



	{{{ body }}}

	<nav class="navbar navbar-light bg-light">
		<span class="navbar-brand mb-0 h1"></span>
	</nav>


	<!-- jQuery link -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
	<!-- js flip -->
	<script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
	<!-- Javascript link goes below this line -->
	<script src="./assets/js/disarray.js"></script>
	<!-- pokemon API javascript link -->
	{{!--
	<script src="./assets/js/pokeapi.js"></script> --}}
	<!-- animate js -->
	<script src="./assets/js/animate.js"></script>



</body>


</html>