<!-- 5. Output the animalType string, pet boolean and fierceness number to the page for all the animals. -->
<ul>
  {{#each cards}}
    <li>
      <p>Type: {{id}}</p>
      <p>Pet: {{question}}</p>
      <p>Fierceness: {{answer}}</p>
    </li>
  {{/each}}
</ul>
