 <div id="notLanding" class="container">
    <div class="row">
        <div class="col s12 card-panel">
            <h1 class="center-align QA">Q & A</h1>
        </div>
    </div>

    <div class="row">
        <div id="cardContain" class="col s10 card large offset-s1">
            <!-- card content -->
            {{!-- <h2>TESTING ORIGINAL COLOR</h2> --}}
            <div id="flashCards">
                <div class="question">
                </div>
                <div class="answer">
                </div>
            </div>
        </div>
    </div>

    <p id="cardsLeft" class="center-align">Click the card above to flip to the answer, or click the button below that matches what you think about this question</p>
    <div id="reviewContain" class="row">
        <button id="review" class="col s5 card small">
            <h1 class="center-align">I'LL REVIEW THIS AGAIN...</h1>
        </button>
        <button id="understand" class="col s5 offset-s2 card small">
            <h1 class="center-align">I UNDERSTAND THIS, YAY!</h1>
        </button>
    </div>
</div>

