<div id="Landing" class="container">
    <div class="row">
        <div class="col s12 card-panel">
            <h1 class="center-align">CARD STACKS</h1>
        </div>
        <div class="row">
            {{!-- <a href="/cards"> --}}
                <button id="module-html" class="col s12 card small">
                    <h2 class="center-align">Review HTML</h2>
                </button>
                {{!-- </a> --}}
            
        </div>
        <div class="row">
            <button id="module-css" class="col s12 card small">
                <h2 class="center-align">Review CSS</h2>
            </button>
           
        </div>
        <div class="row">
            <button id="module-javascript" class="col s12 card small">
                <h2 class="center-align">Review JavaScript</h2>
            </button>
           
        </div>
        <div class="row">
            <button id="module-jquery" class="col s12 card small">
                <h2 class="center-align">Review jQuery</h2>
            </button>
           
        </div>
        <div class="row">
            <button id="module-api" class="col s12 card small">
                <h2 class="center-align">Review API</h2>
            </button>
            
        </div>
        <div class="row">
            <button id="module-git" class="col s12 card small">
                <h2 class="center-align">Review Git/GitHub</h2>
            </button>
         
        </div>
    </div>
</div>