<div class="container-avatar">
      <li class="collection-item avatar">
            <i class="material-icons circle blue">account_circle</i>
            <span class="title">User</span>
            <p>First Line <br>
                  Second Line
            </p>

            <a href="/sets" class="secondary-content"><i class="medium material-icons">folder_shared</i></a>
      </li>
</div>
