button:visited{
    background-color: #e3dccc;
 }
 button:hover{
     background-color: #e3dccc;
 }
 button:active{
     background-color: #e3dccc;
 }
 button:focus{
     background-color: #e3dccc;
 }
 .card {
     border-top-color: #e3dccc;
     border-bottom-color: #b0a06f;
     border-right-color: #b0a06f;
     border-left-color: #e3dccc;
     border-width: 5px;
     color: #14395a;
 }
 .card-panel {
     background-color: #14395a;
     color: #b0a06f;
 }
 
 body {
     font-family: 'Work Sans';
 }
 
 button {
     font-family: 'Work Sans';
     font-weight: bolder;
 }
 
 /***sets the initial display state of Q+A container to none */
 /* #notLanding {
     display: none;
 } */
 
 #html-understood,
 #css-understood,
 #javascript-understood,
 #jquery-understood,
 #api-understood,
 #git-understood {
     display: none;
 }
 
 #flashCards, .question, .answer {
     height: 100%;
     text-align: center;
     padding: 10px;
     font-size: xx-large;
     
 }
 
 #cardContain {
     overflow: auto;
     cursor: pointer;
 }
 
 button {
     cursor: pointer;
 }

 .btn.waves-effect.waves-light{
    height:60px; 
    width:150px; 
    margin: -20px -50px; 
    top:50%; 
    left:50%;
    background-color: #14395a;
    color: #b0a06f;
    font-size: 15px;
    font-weight: bold;
 }

.card.blue-grey.darken-1{
    height:450px; 
    width:850px; 
    background-color: #14395a !important;
    text-align: center;
    position: relative;
    padding: 10px;
    font-size: xx-large;
    margin-left: -4px;
}

.roll-out-right{-webkit-animation:roll-out-right .9s ease-in both;animation:roll-out-right .9s ease-in both}

@-webkit-keyframes roll-out-right{0%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);opacity:1}100%{-webkit-transform:translateX(1000px) rotate(540deg);transform:translateX(1000px) rotate(540deg);opacity:0}}@keyframes roll-out-right{0%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);opacity:1}100%{-webkit-transform:translateX(1000px) rotate(540deg);transform:translateX(1000px) rotate(540deg);opacity:0}}

.slide-out-bck-bl{-webkit-animation:slide-out-bck-bl .5s cubic-bezier(.55,.085,.68,.53) both;animation:slide-out-bck-bl .5s cubic-bezier(.55,.085,.68,.53) both}

@-webkit-keyframes slide-out-bck-bl{0%{-webkit-transform:translateZ(0) translateY(0) translateX(0);transform:translateZ(0) translateY(0) translateX(0);opacity:1}100%{-webkit-transform:translateZ(-1100px) translateY(1000px) translateX(-1000px);transform:translateZ(-1100px) translateY(1000px) translateX(-1000px);opacity:0}}@keyframes slide-out-bck-bl{0%{-webkit-transform:translateZ(0) translateY(0) translateX(0);transform:translateZ(0) translateY(0) translateX(0);opacity:1}100%{-webkit-transform:translateZ(-1100px) translateY(1000px) translateX(-1000px);transform:translateZ(-1100px) translateY(1000px) translateX(-1000px);opacity:0}}

.slide-out-bck-br{-webkit-animation:slide-out-bck-br .5s cubic-bezier(.55,.085,.68,.53) both;animation:slide-out-bck-br .5s cubic-bezier(.55,.085,.68,.53) both}

@-webkit-keyframes slide-out-bck-br{0%{-webkit-transform:translateZ(0) translateY(0) translateX(0);transform:translateZ(0) translateY(0) translateX(0);opacity:1}100%{-webkit-transform:translateZ(-1100px) translateY(1000px) translateX(1000px);transform:translateZ(-1100px) translateY(1000px) translateX(1000px);opacity:0}}@keyframes slide-out-bck-br{0%{-webkit-transform:translateZ(0) translateY(0) translateX(0);transform:translateZ(0) translateY(0) translateX(0);opacity:1}100%{-webkit-transform:translateZ(-1100px) translateY(1000px) translateX(1000px);transform:translateZ(-1100px) translateY(1000px) translateX(1000px);opacity:0}}