button:visited {
    background-color: #e3dccc;
}

button:hover {
    background-color: white;
}

button:active {
    background-color: white;
}

button:focus {
    background-color: #e3dccc;
}

.card {
    border-top-color: #e3dccc;
    border-bottom-color: #b0a06f;
    border-right-color: #b0a06f;
    border-left-color: #e3dccc;
    border-width: 5px;
    color: #14395a;
    background-color: #e3dccc;
}

.card-panel {
    background-color: #14395a;
    color: #b0a06f;
}

body {
    font-family: 'Work Sans';
    background-color: #f9fbff;
}

button {
    font-family: 'Work Sans';
    font-weight: bolder;
}

/***sets the initial display state of Q+A container to none */
/* #notLanding {
     display: none;
 } */

#html-understood,
#css-understood,
#javascript-understood,
#jquery-understood,
#api-understood,
#git-understood {
    display: none;
}

#flashCards,
.question,
.answer {
    height: 100%;
    text-align: center;
    padding: 10px;
    font-size: x-large;
}

#cardContain {
    /* overflow: auto;
    cursor: pointer;
    height: 400px; */
    overflow: auto;
    cursor: pointer;
    height: 300px;
    width: 960px;
    margin-left: auto;
    background-color: #14395a;
    color: #b0a06f;
}

button {
    cursor: pointer;
}

.btn.waves-effect.waves-light {
    height: 60px;
    width: 130px;
    margin: 0px;
    top: 50%;
    left: -10px;
    background-color: #14395a;
    color: #b0a06f;
    font-size: 15px;
    font-weight: bold;
}

.roll-out-right {
    -webkit-animation: roll-out-right .9s ease-in both;
    animation: roll-out-right .9s ease-in both
}

@-webkit-keyframes roll-out-right {
    0% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1
    }

    100% {
        -webkit-transform: translateX(1000px) rotate(540deg);
        transform: translateX(1000px) rotate(540deg);
        opacity: 0
    }
}

@keyframes roll-out-right {
    0% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1
    }

    100% {
        -webkit-transform: translateX(1000px) rotate(540deg);
        transform: translateX(1000px) rotate(540deg);
        opacity: 0
    }
}

.slide-out-bck-bl {
    -webkit-animation: slide-out-bck-bl .5s cubic-bezier(.55, .085, .68, .53) both;
    animation: slide-out-bck-bl .5s cubic-bezier(.55, .085, .68, .53) both
}

@-webkit-keyframes slide-out-bck-bl {
    0% {
        -webkit-transform: translateZ(0) translateY(0) translateX(0);
        transform: translateZ(0) translateY(0) translateX(0);
        opacity: 1
    }

    100% {
        -webkit-transform: translateZ(-1100px) translateY(1000px) translateX(-1000px);
        transform: translateZ(-1100px) translateY(1000px) translateX(-1000px);
        opacity: 0
    }
}

@keyframes slide-out-bck-bl {
    0% {
        -webkit-transform: translateZ(0) translateY(0) translateX(0);
        transform: translateZ(0) translateY(0) translateX(0);
        opacity: 1
    }

    100% {
        -webkit-transform: translateZ(-1100px) translateY(1000px) translateX(-1000px);
        transform: translateZ(-1100px) translateY(1000px) translateX(-1000px);
        opacity: 0
    }
}

.slide-out-bck-br {
    -webkit-animation: slide-out-bck-br .5s cubic-bezier(.55, .085, .68, .53) both;
    animation: slide-out-bck-br .5s cubic-bezier(.55, .085, .68, .53) both
}

@-webkit-keyframes slide-out-bck-br {
    0% {
        -webkit-transform: translateZ(0) translateY(0) translateX(0);
        transform: translateZ(0) translateY(0) translateX(0);
        opacity: 1
    }

    100% {
        -webkit-transform: translateZ(-1100px) translateY(1000px) translateX(1000px);
        transform: translateZ(-1100px) translateY(1000px) translateX(1000px);
        opacity: 0
    }
}

@keyframes slide-out-bck-br {
    0% {
        -webkit-transform: translateZ(0) translateY(0) translateX(0);
        transform: translateZ(0) translateY(0) translateX(0);
        opacity: 1
    }

    100% {
        -webkit-transform: translateZ(-1100px) translateY(1000px) translateX(1000px);
        transform: translateZ(-1100px) translateY(1000px) translateX(1000px);
        opacity: 0
    }
}

nav {
    background-color: #14395a !important;
}

.container-nav {
    width: 960px !important;
    height: 0px;
    margin: 10px;
    top: 0;
    left: 0;
    float: left;
}

.container {
    float: right;
    width: 1000px;
    margin: 15px;
}

.row .col.s12.card.small {
    width: 170px !important;
    height: 40px !important;
}

h2 {
    font-size: 15px;
    margin: 0;
}

h1 {
    font-size: 20px;
}

.row .col.s5 {
    width: 300px;
    height: 100px;
    margin-left: 200px;
    left: auto;
    right: 100px;
}

h1.center-align.QA {
    font-size: 3rem;
    margin-top: 10px;
}

.btn,
.btn-large,
.btn-small {
    background-color: #14395a !important;
    font-size: 18px;
    font-family: 'Work Sans' !important;
    margin: 10px;
}

.container-modal {
    padding: 2px 16px;
    background-color: #14395a;
    color: white;
}

.modal-close.waves-effect.waves-green.btn-flat {
    text-align: center;
    width: 100px;
    margin: 0 auto;
    margin-left: 50px;
    margin-right: 290px;
    border-style: solid;
    border-color: #b0a06f;
    font-weight: bold;
}

h4 {
    color: #b0a06f;
}

.container-avatar {
    /* position: absolute;
    right: 200px;
    width: 500px;
    border: 3px solid #14395a;
    padding: 20px;
    margin: 150px;
    font-size: 18px;
    font-family: 'Work Sans' !important; */
    position: absolute;
    right: 300px;
    width: 500px;
    border: 3px solid #14395a;
    padding: 20px;
    margin: 80px;
    margin-right: -50px;
    font-size: 18px;
    font-family: 'Work Sans' !important;
}

.secondary-content {
    color: #14395a;
}

.navbar.navbar-light.bg-light {
    background-color: #14395a !important;
    /* margin: 500px; */
    margin: 650px;
    margin-left: 0px;
    height: 80px;
}

#logo {
    height: 65px;
}

.brand-logo {
    padding-left: -10px !important;
}

.row .col.s12.card-panel {
    width: 96%;
    height: 80px;
    margin-left: auto;
    left: auto;
    right: auto;
}

.container-login {
    float: right;
    width: 960px;
    margin: 15px;
    margin-left: 10px;
    margin-right: 45px;
    padding: 20px;
    border-radius: 25px;
    background-color: #14395a;
    color: #b0a06f;
}

.container-signup {
    float: right;
    width: 960px;
    margin: 15px;
    margin-left: 10px;
    margin-right: 45px;
    padding: 20px;
    border-radius: 25px;
    background-color: #14395a;
    color: #b0a06f;
}

#email-input {
    color: white;
}

#password-input {
    color: white;
}

